<main class="border-top">
    <section class="row-fluid py-5 dateContainer d-flex justify-content-center">
        <div class="col-4">
            <button id="showNextEvents" class="bottomboxbutton">events</button>
        </div>
        <div class="col-6 d-flex justify-content-around">
            <button id="showChart" class="bottomboxbutton">Show More</button>
            <section class="text-center">
                <button id="eventAdd" class="bottomboxbutton">Event Add</button>
            </section>
        </div>
        <a class='col-1 d-flex justify-content-around bottomboxbutton' href="{{ path('app_logout') }}">Logout</a>
        <div class="col-1"></div>
    </section>


    <div id="showEvents"></div>

    <div id="eventAddTarget"></div>

    <div class="dataInfo" id="dataTarget"></div>

</main>

<template id="data">
    <section id='chart' class="row">
        <div class="col-6">
            <canvas id="pieChart" width="40" height="40"></canvas>
        </div>
        <div class="col-6 d-flex flex-column text-center justify-content-around">
            <h4>Study <span id="studyTotal"></span></h4>
            <h4>Sleep <span id="sleepTotal"></span></h4>
            <h4>Wash <span id="washTotal"></span></h4>
            <h4>Travel <span id="travelTotal"></span></h4>
            <h4>Hobby <span id="hobbyTotal"></span></h4>
            <h4>Work <span id="workTotal"></span></h4>
            <h4>Eat <span id="eatTotal"></span></h4>
            <h4>Rest <span id="restTotal"></span></h4>
        </div>

    </section>
</template>

<template id="eventMaker">
    <table class="eventTable">
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
            <th>Activity</th>
        </tr>
        {% for event in getEvents %}
            <tr>
                <td id="start">{{ event.start|date("d/m/y") }}<span> {{ event.start|date('h:i') }}</span></td>
                <td id="end">{{ event.stop|date("d/m/y") }} <span> {{ event.stop|date('h:i') }}</span></td>
                <td id="eventDescription">{{ event.description }}</td>
                <td id="activity">{{ event.activity }}</td>
            </tr>
        {% endfor %}
    </table>
</template>

<template id="eventForm">
    <section class="eventInputForm">
        {{ form_start(form) }}

        <div>
            {{ form_row(form.start) }}
        </div>

        <div>
            {{ form_row(form.stop) }}
        </div>

        <div>
            {{ form_row(form.activity) }}
        </div>

        <div>
            {{ form_row(form.location) }}
        </div>

        <div>
            {{ form_row(form.description) }}
        </div>

        <button type="submit" class="bottomboxbutton">Post Event</button>

        {{ form_end(form) }}
    </section>

</template>
<script>

    let motherfile = {{ getEvents2|json_encode|raw }};
</script>
