<main>
    <section class="row-fluid py-5 dateContainer d-flex justify-content-around">


            <button id="showNextEvents" class="bottomboxbutton callToAction">Events</button>

            <button id="showChart" class="bottomboxbutton callToAction">Analyze</button>

                <button id="eventAdd" class="bottomboxbutton callToAction">Add</button>


            <a id="logoutBoxProfile" class='bottomboxbutton text-center callToAction logoutBox' href="{{ path('app_logout') }}"><span class="logoutBox">Logout</span></a>


    </section>

    <div class="motherBox">
        <div id="showEvents"></div>

        <div id="eventAddTarget"></div>

        <div class="dataInfo" id="dataTarget"></div>
    </div>

</main>


<template id="data">
    <section id='chart' class="d-flex justify-content-center mb-5 py-5">
        <div class="pieChartBox">
            <canvas id="pieChart" width="40" height="40"></canvas>
        </div>

        <div class=" d-flex flex-column text-center justify-content-around totalMinute">
            <span>Study <span id="studyTotal"></span></span>
            <span>Sleep <span id="sleepTotal"></span></span>
            <span>Wash <span id="washTotal"></span></span>
            <span>Travel <span id="travelTotal"></span></span>
            <span>Hobby <span id="hobbyTotal"></span></span>
            <span>Work <span id="workTotal"></span></span>
            <span>Eat <span id="eatTotal"></span></span>
            <span>Rest <span id="restTotal"></span></span>
        </div>

    </section>
</template>

<template id="eventMaker">
    <table class="eventTable">
        <tr>
            <th></th>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
            <th>Activity</th>
            <th></th>
        </tr>
        {% for event in getEvents %}
            <tr>
                <td class="" >{{include('profile/_editEvent.html.twig')}}</td>
                <td class=""><span class="bottomboxbutton p-1" id="start">{{ event.start|date("d/m/y") }}<span> {{ event.start|date('h:i') }}</span></span></td>
                <td class=""><span class="bottomboxbutton p-1" id="end">{{ event.stop|date("d/m/y") }} <span> {{ event.stop|date('h:i') }}</span></span></td>
                <td class=""><span class="bottomboxbutton p-1" id="eventDescription">{{ event.description|slice(0, 13) }}</span></td>
                <td class=""><span class="bottomboxbutton p-1" id="activity">{{ event.activity|slice(0, 13) }}</span></td>
                <td class="" >{{ include('profile/_deleteEvent.html.twig') }}</td>
            </tr>
        {% endfor %}
    </table>
</template>

<template id="eventForm">
    <section class="text-center eventInputForm mx-auto p-3">
        <div class=""></div>
        {{ form_start(form) }}

        <div class="selector-form">
            {{ form_row(form.start) }}
        </div>

        <div class="mt-3 selector-form">
            {{ form_row(form.stop) }}
        </div>

        <div class="mt-3 selector-form">
            {{ form_row(form.activity) }}
        </div>

        <div class="mt-3">
            {{ form_row(form.location) }}
        </div>

        <div>
            {{ form_row(form.description) }}
        </div>

        <button type="submit" class="my-3 bottomboxbutton">Post Event</button>

        {{ form_end(form) }}
    </section>

</template>
<script>

    let motherfile = {{ getEvents2|json_encode|raw }};

</script>
