<main class="border-top">
    <section class="row-fluid py-5 dateContainer d-flex justify-content-center">
        <div class="col-4">
            <button id="showNextEvents" class="bottomboxbutton">events</button>
        </div>
        <div class="col-8 d-flex justify-content-around">
            <button id="showChart" class="bottomboxbutton">Show More</button>
            <section class="text-center">
                <button id="eventAdd" class="bottomboxbutton">Event Add</button>

            </section>
        </div>
    </section>

    <div id="showEvents"></div>

    <div id="eventAddTarget"></div>
    <div id="dataTarget"></div>


</main>

<template id="data">
    <section class="row">
        <div class="col-6">
            <canvas id="pieChart" width="40" height="40"></canvas>
        </div>
        <div class="col-6 d-flex flex-column text-center justify-content-around">
            <h4>Study</h4>
            <h4>Sleep</h4>
            <h4>Rest</h4>
            <h4>Travel</h4>
            <h4>Hobby</h4>
            <h4>Work</h4>
        </div>

    </section>
</template>

<template id="eventMaker">
    <table class="eventTable">
        <tr>
            <th>ID</th>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
            <th>Activity</th>
        </tr>
        {% for event in getEvents %}
            <tr>
                <td id="eventNumber">{{ event.id }}</td>
                <td id="start">{{ event.start|date("d/m/y") }}</td>
                <td id="end">{{ event.stop|date("d/m/y") }}</td>
                <td id="eventDescription">{{ event.description }}</td>
                <td id="activity">{{ event.activity }}</td>
            </tr>
        {% endfor %}
    </table>
</template>

<template id="eventForm">
    <section>
        {{ form_start(form) }}
        <button type="submit">Post Event</button>
        {{ form_end(form) }}
    </section>
</template>
<script>

    let motherfile = {{ getEvents2|json_encode|raw }};
</script>
