<main>
    <section class="row-fluid py-5 dateContainer d-flex justify-content-center">
        <div class="col-1"></div>
        <div class="col-2">
            <button id="showNextEvents" class="bottomboxbutton">Events</button>
        </div>
        <div class="col-6 d-flex justify-content-around">
            <button id="showChart" class="bottomboxbutton">Analyze</button>
            <section class="text-center">
                <button id="eventAdd" class="bottomboxbutton">Add</button>
            </section>
        </div>
        <div class="col-3 d-flex justify-content-around">
            <a class='bottomboxbutton text-center' href="{{ path('app_logout') }}">Logout</a>

        </div>
    </section>

    <div class="motherBox">
        <div id="showEvents"></div>

        <div id="eventAddTarget"></div>

        <div class="dataInfo" id="dataTarget"></div>
    </div>

</main>


<template id="data">
    <section id='chart' class="row-fluid d-flex justify-content-center mb-5 py-5">
        <div class="pieChartBox col-5">
            <canvas id="pieChart" width="40" height="40"></canvas>
        </div>
        <div class="col-1"></div>
        <div class="col-4 d-flex flex-column text-center justify-content-around totalMinute">
            <span>Study <span id="studyTotal"></span></span>
            <span>Sleep <span id="sleepTotal"></span></span>
            <span>Wash <span id="washTotal"></span></span>
            <span>Travel <span id="travelTotal"></span></span>
            <span>Hobby <span id="hobbyTotal"></span></span>
            <span>Work <span id="workTotal"></span></span>
            <span>Eat <span id="eatTotal"></span></span>
            <span>Rest <span id="restTotal"></span></span>
        </div>

    </section>
</template>

<template id="eventMaker">
    <table class="eventTable">
        <tr>
            <th></th>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
            <th>Activity</th>
            <th></th>
        </tr>
        {% for event in getEvents %}
            <tr>
                <td class="" ><a class="p-1 bottomboxbuttonSizer bottomboxbutton buttonsmallerizer bg-success" id="{{ event.id }}">E</a></td>
                <td class=""><span class="bottomboxbutton p-1" id="start">{{ event.start|date("d/m/y") }}<span> {{ event.start|date('h:i') }}</span></span></td>
                <td class=""><span class="bottomboxbutton p-1" id="end">{{ event.stop|date("d/m/y") }} <span> {{ event.stop|date('h:i') }}</span></span></td>
                <td class=""><span class="bottomboxbutton  p-1" id="eventDescription">{{ event.description|slice(0, 13) }}</span></td>
                <td class=""><span class="bottomboxbutton p-1" id="activity">{{ event.activity|slice(0, 13) }}</span></td>
                <td class="" ><a class="p-1 bottomboxbuttonSizer bottomboxbutton buttonsmallerizer bg-danger" id="{{ event.id }}" href="{{ path('delete_event', {'id': event.id }) }}">X</a></td>
            </tr>
        {% endfor %}
    </table>
</template>

<template id="eventForm">
    <section class="text-center eventInputForm mx-auto p-3">
        <div class=""></div>
        {{ form_start(form) }}

        <div>
            {{ form_row(form.start) }}
        </div>

        <div class="mt-3">
            {{ form_row(form.stop) }}
        </div>

        <div class="mt-3">
            {{ form_row(form.activity) }}
        </div>

        <div>
            {{ form_row(form.location) }}
        </div>

        <div>
            {{ form_row(form.description) }}
        </div>

        <button type="submit" class="my-3 bottomboxbutton">Post Event</button>

        {{ form_end(form) }}
    </section>

</template>
<script>

    let motherfile = {{ getEvents2|json_encode|raw }};
</script>
