<main class="border-top">
    <section class="row-fluid py-5 dateContainer d-flex justify-content-center">
        <div class="col-4">
            <button id="showNextEvents" class="bottomboxbutton">events</button>
        </div>
        <div class="col-8 d-flex justify-content-around">
            <button id="nextHours" class="bottomboxbutton">Show More</button>
            <section class="text-center">
                <button id="eventAdd" class="bottomboxbutton">Event Add</button>

            </section>
        </div>
    </section>


    <div class='row-fluid d-flex justify-content-center' id="showEvents">

    </div>
    <div id="eventAddTarget"></div>
</main>

<template id="eventMaker">
    {% for event in getEvents %}
    <article>
        <div id="eventNumber">
            {{ event.id }}
        </div>

        <div id="eventDescription">
            {{ event.description }}
        </div>

        <div id="activity">
            {{ event.activity }}
        </div>

        <div id="start">
            {{ event.start|date("d/m/y") }}
        </div>

        <div id="end">
            {{ event.stop|date("d/m/y") }}
        </div>
    </article>
    {% endfor %}
</template>

<template id="eventForm">
    <section>
        {{ form_start(form) }}
        <button type="submit">Post Event</button>
        {{ form_end(form) }}
    </section>
</template>
<script>
    let dateArray = {{ events|json_encode|raw }};
    let motherfile = {{ getEvents2|json_encode|raw }};
    console.log(motherfile[18]);
</script>
