{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <section class="text-center eventInputForm mx-auto p-3">
        <div class=""></div>
        {{ form_start(form) }}

        <div class="selector-form">
            {{ form_row(form.start) }}
        </div>

        <div class="mt-3 selector-form">
            {{ form_row(form.stop) }}
        </div>

        <div class="mt-3 selector-form">
            {{ form_row(form.activity) }}
        </div>

        <div class="mt-3">
            {{ form_row(form.location) }}
        </div>

        <div>
            {{ form_row(form.description) }}
        </div>

        <button type="submit" class="my-3 bottomboxbutton">Update Event</button>

        {{ form_end(form) }}
    </section>

{% endblock %}
